.new {
    border: 1px solid red;
}

.list {
    list-style: none;
    width: 200px;
    display: flex;
    border: 1px solid red;
}

.list__item {
   padding: 5px;
   margin-right: 10px;
   border: 1px solid green;
   display: inline-block;
   width: 100%;
}